In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')
print("Bibliotheken erfolgreich geladen!")

Bibliotheken erfolgreich geladen!

In [4]:
df = pd.read_csv('../data/raw/OnlineRetail.csv', encoding='ISO-8859-1')
print(f"Datensatz geladen!")
print(f"Anzahl Zeilen: {len(df):,}")
print(f"Anzahl Spalten: {df.shape[1]}")
print(f"\nErste 5 Zeilen: ")
df.head()

Datensatz geladen!
Anzahl Zeilen: 541,909
Anzahl Spalten: 8

Erste 5 Zeilen:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [5]:
print("Spalten im Datensatz:")
print(df.info())
print("\n" + "=" * 50)
print("\nStatistische Übersicht:")
df.describe()

Spalten im Datensatz:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None

==================================================

Statistische Übersicht:

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [14]:
# Zeilen ohne CustomerID entfernen
print(f"Vor Bereinigung: {len(df):,} Zeilen")
df_clean = df[df['CustomerID'].notna()].copy()
print(f"Nach Entfernen fehlender CustomerIDs: {len(df_clean):,} Zeilen")

# Nur positive Mengen (Keine Retouren)
df_clean = df_clean[df_clean['Quantity'] > 0]
df_clean = df_clean[df_clean['UnitPrice'] > 0]
print(f"Nach Entfernen negativer Werte: {len(df_clean):,} Zeilen")

# Gesamtepreis berechnen
df_clean['TotalPrice'] = df_clean['Quantity'] * df_clean['UnitPrice']

# InvoiceDate in Datetime umwandeln
df_clean['InvoiceDate'] = pd.to_datetime(df_clean['InvoiceDate'])

print(f"\n Daten bereinigt!")
print(f"Anzahl einzigartiger Kunden: {df_clean['CustomerID'].nunique():,}")
df_clean.head()

Vor Bereinigung: 541,909 Zeilen
Nach Entfernen fehlender CustomerIDs: 406,829 Zeilen
Nach Entfernen negativer Werte: 397,884 Zeilen

 Daten bereinigt!
Anzahl einzigartiger Kunden: 4,338

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

#